.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-nav{
  display:flex;
}

.top-nav > *{
  flex: 1 0 15%;
  min-height: 64px;
  min-width: 80px;
}
.col-top-nav{
  flex: 1;
  max-width: 250px;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  background-color: #555555;
  color: #cfcfcf;
  border: 1px solid #000000;
  border-top: 0px;
  font-family: 'Arial';
  font-size: large;
}

.col-top-nav:hover {
  color: #ffffff;
  background-color: #7a7a7a;
}

.loginForm {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 40%;
  align-items: center;
  height: 600px;
  width: 300px;
  border: 2px solid black;
  background-color: #555555;
  padding: 20px;
  border-radius: 25px;
  transform: translate(-50%, -50%);
}

.loginForm {
  transform: scale(1, 1);
}

.loginInput {
  margin-bottom: 10px;
}

.loginInput label {
  display: block;
}

.loginButton {
  text-align: center;
}

.registerForm {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 40%;
  align-items: center;
  height: 600px;
  width: 300px;
  border: 2px solid black;
  background-color: #555555;
  padding: 20px;
  border-radius: 25px;
  transform: translate(-50%, -50%);
  transform: scale(1, 1);
}

.registerInput{
  margin-bottom: 10px;
}

.registerInput label {
  display: block;
}

.registerButton {
  text-align: center;
}

.registerWrongPassword {
  color: red;
}

.site-first-div {
  margin-left: 64px;
}

.app {
  background: #aaaaaa;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.profileButtonBox {
  position: relative;
  margin-top: 20%;
  margin-left: 15%;
  text-align: center;
}

.profileButton {
  height: 150px;
  width: 300px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  background: #555555;
  border: 1px solid black;
  font-family: 'Arial';
  font-size: large;
  color: #cfcfcf;
  margin-right: 200px;
  margin-top: 15px;
}

.profileButton {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  height: 70px;
  width: 300px;
  justify-content: center;
  line-height: 1;
  margin-right: 200px;
  margin-top: 15px;
  margin-bottom: 50px;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.profileButton:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.profileButton:active {
  outline: 0;
}

.profileButton:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

.deactivateaccount-locate {
  position: relative;
  margin-top: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100hv;
}

.deactivateaccount-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 40%;
}

.deactivateaccount-information, .deactivateaccount-password, .deactivateaccount-submit {
  margin: 10px;
  text-align: center;
}

.deactivateaccount-password {
  height: 80px;
  width: 300px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 14px;
  background: #555555;
  border: 1px solid black;
  font-family: 'Arial';
  font-size: large;
  color: #ffffff;
}

.deactivateaccount-submit {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  margin-right: 8px;
  margin-left: 8px;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.deactivateaccount-submit:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.deactivateaccount-submit:active {
  outline: 0;
}

.deactivateaccount-submit:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

.changedata-locate {
  position: relative;
  margin-top: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100hv;
}

.changedata-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.changedata-name, .changedata-surname, .changedata-password, .changedata-email, .changedata-repeatpassword, .changedata-submit {
  margin: 10px;
  text-align: center;
}

.changedata-name, .changedata-password, .changedata-surname, .changedata-email, .changedata-repeatpassword {
  height: 80px;
  width: 300px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 14px;
  background: #555555;
  border: 1px solid black;
  font-family: 'Arial';
  font-size: large;
  color: #ffffff;
}

.changedata-submit {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.changedata-submit:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.changedata-submit:active {
  outline: 0;
}

.changedata-submit:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

.commissionshistory-table-container {
  position: relative;
  margin: 5%;
  margin-top: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100hv;
}

.commissionshistory-table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
}

.commissionshistory-table th, .commissionshistory-table td {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.commissionshistory-table tr {
  background: #555555;
}

.commissionshistory-table tr:nth-child(even){
  background: #7a7a7a;
}

.firmuser-locate {
  position: relative;
  margin-top: 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100hv;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

.manageemployees-locate {
  position: relative;
  margin-top: 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100hv;
}

.managevehicles-locate {
  position: relative;
  margin-top: 2%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100hv;
}

.addtrailer-locate {
  position: relative;
  margin-top: 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100hv;
}

#odczep { 
  vertical-align: middle;
  margin: 0;
}

.addtrailer-odczep{
  height: 80px;
  width: 300px;
  display: inline-flex;
  margin-right: 0;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 14px;
  font-family: 'Arial';
  font-size: large;
  margin: 10px;
  margin-right: -120px;
  text-align: center;
}

.announceride-locate{
  position: relative;
  margin-top: 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100hv;
}

.commissions-label {
  font-weight: bold;
  font-size: large;
}

.toggler-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  justify-content: center;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.toggler-wrapper .toggler-label {
  margin-right: 10px;
}

.toggler-wrapper input[type="checkbox"] {
  display: none;
  margin: 0;
}

.toggler-wrapper input[type="checkbox"]:checked + .toggler-slider {
  background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
  background-color: #ccc;
  position: relative;
  border-radius: 100px;
  width: 45px;
  height: 25px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper.style-1 input[type="checkbox"]:checked + .toggler-slider .toggler-knob {
  left: calc(100% - 19px - 3px);
}

.toggler-wrapper.style-1 .toggler-knob {
  width: calc(25px - 6px);
  height: calc(25px - 6px);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background-color: #fff;
}



.commissions-locate{
  position: relative;
  margin-top: 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100hv;
}


.commissiondetails-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.commissiondetails-table {
  width: 100%;
  max-width: 800px;
  border: 1px solid #555555;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.commissiondetails-table h2 {
  background-color: #7a7a7a;
  padding: 10px;
  margin: 0;
  text-align: center;
  font-size: 1.5em;
  border-bottom: 1px solid #555555;
}

.commissiondetails-fields {
  padding: 20px;
}

.commissiondetails-fields table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.commissiondetails-fields td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.commissiondetails-fields h4 {
  margin-bottom: 10px;
}

.nested-table {
  width: 100%;
}